@import "tailwindcss";
@plugin "@iconify/tailwind4" {
  prefixes: hugeicons;
}

@theme {
  --color-primary: #6366f1;
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-600: #4f46e5;
  --color-background-light: #f6f6f8;
  --color-background-dark: #0f1115;
  --color-surface-light: #ffffff;
  --color-surface-dark: #181b21;
  --color-surface-hover: #22262e;
  --color-border-light: #e5e7eb;
  --color-border-dark: #272a30;
  --color-bubble-user: #272a30;
  --color-bubble-ai: #181b21;

  --font-family-display: Inter, sans-serif;

  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-full: 9999px;

  --shadow-soft: 0 4px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px -1px rgba(0, 0, 0, 0.02);
  --shadow-floating: 0 10px 40px -10px rgba(0, 0, 0, 0.3);
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.2);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.3);
}

.message-fade-enter {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  font-family: var(--font-family-display);
}

body {
  @apply antialiased selection:bg-primary/30 selection:text-white;
}
